body{
  font-size: 30px;
  font-family: verdana;
  color: white;
  background-image: url("../images/baseballpic3.jpg");
  background-size: 100% auto;
}

.image-box {
  width: 800px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
}

.form-object {
  display: inline-block;
  text-align: center;
}

#start-form {
  text-align: center;
  padding-top: 25px;
}

img {
  max-width: 100%;
  max-height: 80%;
}

h1 {
text-align: center;
padding-top: 0;
margin-top: 0;
}

h1.player-list {
  padding-top: 10px;
}


/* Remember to add a background image, boxes that contains the form,
and finally a box with the elements created (perhaps an image as well)*/
