body{
  font-size: 30px;
  font-family: verdana;
  color: white;
  background-image: url("../images/red-sox.jpg");
  background-size: cover;
}

.image-box {
  width: 800px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
}

.form-object {
  display: inline-block;
  text-align: center;
}

img {
  max-width: 100%;
}

h1 {
text-align: center;
}



/* Remember to add a background image, boxes that contains the form,
and finally a box with the elements created (perhaps an image as well)*/
